@charset "UTF-8";

.body-page-layout {
    display: grid;

    background-color: var(--color-black);

    /* grid-template-rows:
        98px 1fr auto; */
}


.header-layout {
    display: grid;
    grid-template-columns: minmax(6rem, 12rem) 1fr 1fr;
    grid-template-rows: inherit;
    height: 98px;
    /* background-color: red; */
}

.main-layout {
    position: relative;
    display: grid;
    height: 200rem;
    /* grid-auto-rows: .4fr 1fr 1fr; */
    /* background-color: rgb(111, 255, 0); */
    /* gap: 0px; */
}

.main-layout::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 25%; 
    width: 1px;
    height: 58.15%; 
    background: rgba(255, 255, 255, 0.3);
    box-shadow:
        25vw 0 0 rgba(255, 255, 255, 0.3),
        50vw 0 0 rgba(255, 255, 255, 0.3),
        75vw 0 0 rgba(255, 255, 255, 0.3); /* вот добавили четвёртую линию */
    pointer-events: none;
}




.footer-layout {
    /* background-color: rgb(21, 0, 255); */
    height: 20rem;
}